.hero-container{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.buttons-container{
    display: flex;
    flex-direction: row;
    gap:30px;
}
.button{
    color:white;
    border: 3px solid rgb(168, 6, 209);
    padding: 1rem;
    border-radius: 5%;
    font-weight: 400;
    font-family: 'Space Mono', monospace;
    
}

.button:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

.hello{
    color: white;
    line-height: 1.1;
    font-weight: 900;
    font-size: clamp(20px, 8vw, 80px);
    margin:0px;
    font-weight: bolder;
}
.hero-small-intro{
    color: rgb(205, 188, 206);
    width:90%;
    text-align: justify;
    font-weight: 500;
}
.hero-splitter{
    width: 70%;
    margin:0px;
    border-radius: 5px;
    border-width: 3px;
  
  }
.dynamic{
    color: #bd51ae;
    font-size: clamp(15px, 1.8vw, 40px);
    margin:0px;
}
.txt-totate{
    font-size:1.5rem;
}

@media screen and (max-height:750px) {
    .hero-container{
        margin-top:8rem;
    }
    
}
@media screen and (max-width:395px) {
    .hero-container{
        margin-top:4rem;
    }
    .buttons-container{
        display: flex;
        flex-direction: column;
        gap:1px;
        width:80%;
    }
    .button{
        text-align: center;
    }
    
}